@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.container {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  color: #777;
}

.introWithImg {
  display: flex;
}
